<!DOCTYPE html>
<html>

<head>
  <title>Razer Bot</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="csrf-token" content="{{ csrf_token }}" />
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  span {
    height: 20px;
    width: 20px;
    background: #44d62c;
    margin-left: 20px;
    float: left;
    animation: fade 2s linear infinite;
    border: 2px solid white;
  }

  span:nth-child(2) {
    animation-delay: 0.2s;
  }

  span:nth-child(3) {
    animation-delay: 0.4s;
  }

  span:nth-child(4) {
    animation-delay: 0.6s;
  }

  span:nth-child(5) {
    animation-delay: 0.8s;
  }

  span:nth-child(6) {
    animation-delay: 1s;
  }

  span:nth-child(7) {
    animation-delay: 1.2s;
  }

  span:nth-child(8) {
    animation-delay: 1.4s;
  }

  span:nth-child(9) {
    animation-delay: 1.6s;
  }

  span:nth-child(10) {
    animation-delay: 1.8s;
  }

  @keyframes fade {
    95% {
      opacity: 0;
      transform: scale(0) rotate(120deg);
    }

    97% {
      transform: rotate(0deg);
    }
  }


  /* Custom styles for the Swal modal */
  .custom-swal-popup {
    background-color: #111827 !important; /* gray-900 */
    border: 2px solid #4ade80 !important; /* green-400 */
    border-radius: 12px !important;
  }
  .custom-swal-title, .custom-swal-html-container {
    color: white !important;
  }
  .custom-swal-confirm {
    background-color: #4ade80 !important; /* green-400 */
    color: #111827 !important; /* text dark for contrast */
    border-radius: 8px !important;
    padding: 8px 20px !important;
  }
  .custom-swal-confirm:hover {
    background-color: #22c55e !important; /* darker green */
  }

  .num-input::-webkit-inner-spin-button,
  .num-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .num-input {
    -moz-appearance: textfield;
  }


</style>

<body class="bg-gray-900 flex items-center justify-center min-h-screen relative">
  <div class="absolute right-[50px] top-[50px] rounded-md bg-green-500 text-white text-md font-medium p-2">
    <p id="LoggedInUser"></p>
  </div>
  <div class="bg-gray-800 p-10 rounded-2xl shadow-lg w-full max-w-xl relative">
    <h2 class="text-3xl font-bold text-green-400 text-center mb-6">
      Razer Gold Automation
    </h2>
    <p id="selectedLoggedInUser"
      class="text-white text-md font-medium text-center hidden p-2 border border-green-500 rounded-full"></p>

    <div id="Backbtn"
      class="p-3 rounded-md bg-red-500 absolute font-bold absolute top-1 left-1 hidden text-white text-base">
      <p>Back</p>
    </div>


    
    <form id="userForm2" class="">
      {% csrf_token %}
      <h1 class="text-2xl font-bold text-white text-left mb-6">
        Store Razer User
      </h1>
      <label class="block text-white text-xl mt-4 mb-2" for="store_email">Enter user email</label>
      <input type="text" name="store_email" id="store_email"
        class="w-full p-4 text-white bg-transparent border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />

      <label class="block text-white text-xl mt-4 mb-2" for="store_password">Enter user password</label>
      <input type="text" name="store_password" id="store_password"
        class="w-full p-4 text-white bg-transparent border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />
      <label class="block text-white text-xl mt-4 mb-2" for="store_password">Enter secret key</label>
      <input type="text" name="store_secretkey" id="store_secretkey"
        class="w-full p-4 text-white bg-transparent border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400" />

       <div id="">
        
      
        <label class="block text-white text-xl mt-4 mb-2" for="store_password">Select region</label>
        <select id="regionSelect" required   class="w-full p-4       text-white bg-gray-800 border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
          <option value="">Select Region</option>
          <option value="1">MY:1</option>
          <option value="2">GLOBAL:2</option>
          <option value="4">IN:4</option>
          <option value="5">SG:5</option>
          <option value="6">AU:6</option>
          <option value="7">ID:7</option>
          <option value="8">PH:8</option>
          <option value="9">VN:9</option>
          <option value="10">TH:10</option>
          <option value="12">US:12</option>
          <option value="13">BR:13</option>
          <option value="14">TW:14</option>
          <option value="15">NZ:15</option>
          <option value="16">EU:16</option>
          <option value="17">HK:17</option>
          <option value="18">TR:18</option>
          <option value="19">MM:19</option>
          <option value="20">CA:20</option>
          <option value="21">MX:21</option>
          <option value="22">CO:22</option>
          <option value="23">PE:23</option>
          <option value="24">AR:24</option>
          <option value="25">CL:25</option>
          <option value="26">KH:26</option>
          <option value="27">JP:27</option>
          <option value="28">GLOBALZH:28</option>
          <option value="29">PK:29</option>
          <option value="30">BO:30</option>
          <option value="31">GT:31</option>
          <option value="32">KR:32</option>
          <option value="36">GLOBALRU:36</option>
          <option value="37">BD:37</option>
        </select>

        <p class="text-white text-lg mt-4">How to find region of account ?</p>
        <p class="text-white text-lg  mb-2">Login to  gold razer and look at URL</p>
        <img src="https://i.ibb.co/dwdtJhZf/urlsample2.png" class=" h-10 object-contain  mt-2">

        
      </div> 
      <button type="submit"
        class="w-full bg-green-500 hover:bg-green-600 text-white py-3 mt-8 font-bold rounded-lg shadow-lg transition">
        Setup OTP
      </button>
    </form>

  
    <p id="otpCode" class="my-2 text-xl text-white font-bold"></p>

    <button id="StoreUserbtn" class="hidden w-full bg-green-500 hover:bg-green-600 text-white py-3 mt-8 font-bold rounded-lg shadow-lg transition">
        Store User
    </button>
    
   
    <div id="regionUserSelectionDiv" class="">
      {% comment %} <div id="regionSelection">
        <h1 class="text-2xl font-bold text-white text-left mb-6 mt-6">
          Select Region
        </h1>
        <select id="regionSelect"
          class="w-full p-4 text-white bg-gray-800 border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
          <option class="" value="">Select Region</option>
          <option value="2">USA:2</option>
          <option value="29">PK:29</option>
        </select>
      </div> {% endcomment %}

      <div class="mt-4" id="userSelectionSection" class="">
        <h1 class="text-2xl font-bold text-white text-left mb-6">
          Select Razer User
        </h1>

        <select id="userSelect"
          class="w-full p-4 text-white bg-transparent border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
          <option value="">Select stored user</option>
        </select>

        <button id="loginbtn"
          class="w-full py-3 bg-green-500 hover:bg-green-600 text-white mt-4 mb-2 font-bold rounded-lg shadow-lg transition">
          Login User
        </button>
        <div id="loginStatus" class="text-green-400 text-sm mt-4"></div>
      </div>
    </div>

    <h1 id="prodlinkheading" class="text-2xl hidden font-bold text-white text-left mb-6 mt-4">
      Enter product link
    </h1>

    <input list="productsList" type="text" name="productLink" id="ProductLink"
      class="w-full p-4 hidden text-white bg-transparent border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400 mb-4"
      placeholder="Enter product link here" />

    <datalist id="productsList">
      <option value="https://gold.razer.com/pk/en/gold/catalog/pubg-mobile-uc-code">
        PUBG
      </option>
      <option value="https://gold.razer.com/pk/en/gold/catalog/gangster-mafia">
        Ganster Mafia
      </option>
      <option value="https://gold.razer.com/pk/en/gold/catalog/yalla-ludo">
        Yalla Ludo
      </option>
      <option value="https://gold.razer.com/pk/en/gold/catalog/freefire-pins">
        Free Fire
      </option>
      <option value="https://gold.razer.com/pk/en/gold/catalog/playstation-store-usa">
        Playstation Store USA
      </option>
    </datalist>
    <button id="productFetchbtn"
      class="w-full py-3 bg-green-500 hidden hover:bg-green-600 text-white mt-4 mb-2 font-bold rounded-lg shadow-lg transition">
      Fetch Product Info
    </button>

    <form id="productForm" class="space-y-5 mt-6">{% csrf_token %}</form>
    <div id="productDetails"></div>
    <div id="productInfo" class="mt-4"></div>
    <a id="viewPurchase"
      class="block w-full py-3 bg-white hidden hover:bg-green-800 text-green-400 text-center mt-4 mb-2 font-bold rounded-lg shadow-lg transition"
      href="" download="purchase.txt">View Purchasing</a>

    <div id="timerDisplay" class="text-green-500 hidden font-bold text-lg">
      00:00
    </div>

    <div id="loader" class="hidden mt-4 ml-10">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- Button -->
    <button id="viewHistoryBtn"
      class="w-full py-3 hidden bg-green-500 hover:bg-green-600 text-white mt-4 mb-2 font-bold rounded-lg shadow-lg transition">
      View History
    </button>

    <!-- Holder for files -->
    <div id="filesholder" class="mt-4 space-y-3"></div>
  </div>
  <script></script>

  <script>
    document.getElementById("LoggedInUser").innerText = `${sessionStorage.getItem("username")}`



    let selecteduserEmail;
    let selectedSecretKey;
    let selectedRegion;


    document.getElementById("userForm2").addEventListener("submit", async function (e) {
      e.preventDefault();
    
      let formData = new FormData(this);
      let email = formData.get("store_email");
      
      try {

        console.log("Checking if user exists:", email);

        let checkUserExistance = await fetch("checkUserExist/", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email: email })
        });
    
        let checkData = await checkUserExistance.json();
    
        if (checkData.exists) {
          console.log("User already exists");
          alert("User already exists");
        
          return;
        }
        else{

          console.log("User doesnot exist already")
          console.log("Getting OTP from PY OTP")

          secret_key=formData.get("store_secretkey")
          console.log("Secret key:", secret_key)

          let getOtpResponse = await fetch("send-secretKey-getOtp/", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ secret_key: secret_key })
          });

          let getOtpData = await getOtpResponse.json();

          console.log("Response from OTP fetch:", getOtpData);

          if(getOtpData.otp){
           console.log("Got OTP from PY OTP:", getOtpData.otp)
           document.getElementById("otpCode").innerText = `Your OTP is: [ ${getOtpData.otp} ].\n Please enter this OTP in the Razer app for authenticator setup`;
           document.getElementById("StoreUserbtn").classList.remove("hidden")
           document.getElementById("userForm2").classList.add("hidden")
          }
          else{
            alert(getOtpData.error)
            return;
          }
        } 
      }   
      catch (error) {
        console.error("Error checking user existence:", error);
        alert("An error occurred while checking user existence.");
        return;
      }
    })

    document.getElementById("StoreUserbtn").addEventListener("click", async function () {
      let form = document.getElementById("userForm2");
      let data = {
        email: form.store_email.value,
        password: form.store_password.value,
        secret_key: form.store_secretkey.value,
        region:form.regionSelect.value
      };
     
      console.log("Storing User Data==>",data)

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    let storeResponse = await fetch("{% url 'razerusers' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken
      },
      body: JSON.stringify({ store_email: data.email, store_password: data.password, store_secret_key: data.secret_key,region_number:parseInt(data.region) })
    });

    let storeData = await storeResponse.json();

    if (storeResponse.status === 201) {
      alert("Razer user stored successfully!");
      document.getElementById("StoreUserbtn").classList.add("hidden")
      document.getElementById("otpCode").classList.add("hidden")
      document.getElementById("regionUserSelectionDiv").classList.remove("hidden")
      document.getElementById("userForm2").reset();
      document.getElementById("userSelect").classList.remove("hidden")
    
      
    }

    console.log(data);
    fetchStoredUsers();

    

    })
     

   
   

      


    let url="127.0.0.1:8000"

   







    let selectedUser;
    async function fetchStoredUsers() {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      const response = await fetch("/razerusers/", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken
        }
      });

      const users = await response.json();

      // 🔥 Clear existing options except the first one
      const select = document.getElementById("userSelect");
      select.innerHTML = '<option value="">Select stored user</option>';


      users.forEach(user => {
        const option = document.createElement("option");
        option.className = "bg-gray-800 text-white";
        option.value = `${user.store_email} ${user.store_password} ${user.store_secret_key} ${user.region_number}`;
        option.textContent = `${user.store_email} ${user.store_password}`;
        select.appendChild(option);
      });

      select.addEventListener("change", function () {
        if (this.value) {
          selectedUser = this.value.split(" ");
          selecteduserEmail = selectedUser[0];
          console.log(`Selected: ${this.value}`);
        }
      });
    }


    // Call the function on page load
    window.addEventListener("DOMContentLoaded", fetchStoredUsers);

    document.getElementById("loginbtn").addEventListener("click", async function () {

      document.getElementById("loader").classList.remove("hidden")
      const selectedValue = document.getElementById("userSelect").value;

      if (!selectedValue) {
        alert("Please select a user.");
        return;
      }
      console.log("Selected user:", selectedUser);

      email = selectedUser[0];
      selecteduserEmail = email;
      password = selectedUser[1];
      secretKey = selectedUser[2];
      selectedRegion = selectedUser[3];
      selectedSecretKey = secretKey;
      

      console.log("Before Calling get region")
      console.log("Email",email,"password",password)

      
        



      console.log("Using email:", email, "password:", password, "secretKey:", secretKey, "region:", selectedRegion);

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      const response = await fetch("/run", {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
          "X-CSRFToken": csrftoken
        },
        body: new URLSearchParams({
          email: email,
          password: password,
          secretKey: secretKey
        })
      });

      const text = await response.text();
      const statusDiv = document.getElementById("loginStatus");
      if (text.includes("successful")) {
        document.getElementById("userForm2").classList.add("hidden")
        document.getElementById("prodlinkheading").classList.remove("hidden");
        document.getElementById("ProductLink").classList.remove("hidden");
        document.getElementById("productFetchbtn").classList.remove("hidden");
        {% comment %} document.getElementById("productQuantity").classList.remove("hidden"); {% endcomment %}
        {% comment %} document.getElementById("buybtn").classList.remove("hidden"); {% endcomment %}
        document.getElementById("userSelectionSection").classList.add("hidden");
       
        document.getElementById("Backbtn").classList.remove("hidden");


        document.getElementById("selectedLoggedInUser").classList.remove("hidden");
        document.getElementById("selectedLoggedInUser").innerText = `Logged in as: ${email}`;
        

        document.getElementById("loader").classList.add("hidden") 


        statusDiv.innerHTML = `<p class="text-green-500 text-base font-medium">${text}</p>`;
      } else {
        statusDiv.innerHTML = `<p class="text-red-500 text-base font-medium" style="color:red">${text}</p>`;
        document.getElementById("loader").classList.add("hidden")
      }
      

    });



    let ProductName;
    document.getElementById("productFetchbtn").addEventListener("click", async function () {
      const productLink = document.getElementById("ProductLink").value;
      const value = productLink.split("/catalog/")[1];
      productName = value;
      const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
      
      console.log("Fetching Product Info For user",value,selecteduserEmail)
      const res = await fetch("/get-product-info", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({ product: value,email:selecteduserEmail })
      });

      const data = await res.json();
      const infoDiv = document.getElementById("productDetails");

      if (data.error) {
        infoDiv.innerHTML = `<p class="text-red-400">⚠️ ${data.error}</p>`;
        return;
      }

      const productCheckboxes = data.products.map(p => `
          <div class="flex items-center gap-4 mb-4">
            <input type="checkbox" class="product-check w-5 h-5 text-green-500 bg-gray-800 border-2 border-green-500 rounded focus:ring-2 focus:ring-green-400" data-id="${p.productId}" data-vanity="${p.vanityName}">
            <label class="text-white text-lg font-semibold">${p.vanityName}</label>
            <input type="number" min="1" value="1"
              class="num-input product-qty w-20 p-2 text-white bg-gray-800 border border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
          </div>
        `).join("");

      infoDiv.innerHTML = `
          <p class="text-white text-xl font-bold mb-2">Available Products:</p>
          ${productCheckboxes}
          <button id="buybtn" type="button"
            class="w-full py-3 bg-green-500 hover:bg-green-600 text-white font-bold rounded-lg shadow-lg transition mt-4">
            Buy Selected
          </button>
        `;
      document.getElementById("viewHistoryBtn").classList.remove("hidden");
    });

    document.addEventListener("click", async function (e) {

      document.getElementById("")
      if (e.target && e.target.id === "buybtn") {
        const selectedProducts = [];
       
        document.querySelectorAll(".product-check:checked").forEach(checkbox => {
          const productId = checkbox.dataset.id;
          const vanityName = checkbox.dataset.vanity;
          const quantityInput = checkbox.parentElement.querySelector(".product-qty");
          const quantity = quantityInput.value;

          selectedProducts.push({ productId, vanityName, quantity });
        });

        if (selectedProducts.length === 0) {
          alert("Please select at least one product.");
          return;
        }

        document.getElementById("loader").classList.remove("hidden")
        document.getElementById("timerDisplay").classList.remove("hidden")
        startTimer();

        
        console.log("Selected products:", selectedProducts);
        const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute("content");

        console.log("Data before form operation:", { products: selectedProducts, productName: productName, userEmail: selecteduserEmail, secretKey: selectedSecretKey, regionId: selectedRegion });

        const res = await fetch("/form-operation", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
          },
          body: JSON.stringify({ products: selectedProducts, productName: productName, userEmail: selecteduserEmail, secretKey: selectedSecretKey, regionId: selectedRegion })
        });

        const result = await res.json();
        console.log("Result from /form-operation:", result);
        if (result.error) {
          if (result.error.includes("70600")) {

            document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Not Enough Coins</p>`;
            stopTimer();
          }
          else if (result.error.includes("70607")) {
            document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Region Id mismatched</p>`;
            stopTimer();
          }
          else if (result.error.includes("70628")) {
            document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Product out of stock</p>`;
            stopTimer();
          }
          else if (result.error.includes("70613")) {
            document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Transaction amount has exceeded the maximum amount allowed</p>`;
            stopTimer();
          }
          else if(result.error.includes("OTP Verification Failed")){
            document.getElementById("productInfo").innerHTML = `<p class="text-red-400">OTP verification failed maybe incorrect </p>`;
            stopTimer();
          }
        
          document.getElementById("loader").classList.add("hidden")
          stopTimer();
          {% comment %} document.getElementById("productInfo").innerHTML = `<p class="text-red-400"> ${result.error}</p>`; {% endcomment %}
          const currentPurchase = document.getElementById("viewPurchase")
          currentPurchase.classList.remove("hidden")
          currentPurchase.href = `http://${url}${result.download_url}`
          currentPurchase.setAttribute("download", `purchase${result.download_url.split("/")[2]}.txt`);
          console.log("Error in result:", result.error)
          return;
        }
        document.getElementById("loader").classList.add("hidden")
        const currentPurchase = document.getElementById("viewPurchase")
        currentPurchase.classList.remove("hidden")
        currentPurchase.href = `http://${url}${result.download_url}`
        currentPurchase.setAttribute("download", `purchase${result.download_url.split("/")[2]}.txt`);
        document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Purchase Successful</p>`;
        stopTimer();
      }
    });


    document.getElementById("Backbtn").addEventListener("click", function () {
      document.getElementById("userSelectionSection").classList.remove("hidden");
    
      document.getElementById("Backbtn").classList.add("hidden");
      document.getElementById("prodlinkheading").classList.add("hidden");
      document.getElementById("ProductLink").classList.add("hidden");
      document.getElementById("productFetchbtn").classList.add("hidden");
      document.getElementById("productInfo").innerHTML = "";
      document.getElementById("productDetails").innerHTML = "";
      document.getElementById("loginStatus").innerHTML = "";
      document.getElementById("viewPurchase").classList.add("hidden")
      document.getElementById("ProductLink").value = "";
      document.getElementById("ProductLink").classList.add("hidden")


      document.getElementById("selectedLoggedInUser").classList.add("hidden");
      document.getElementById("selectedLoggedInUser").innerText = "";

      document.getElementById("userForm2").classList.remove("hidden")



      {% comment %} Hiding files and view history button {% endcomment %}
      const filesHolder = document.getElementById("filesholder");
      filesHolder.innerHTML = "";
      document.getElementById("viewHistoryBtn").classList.add("hidden");


      {% comment %} Hide Timer and reset {% endcomment %}
      document.getElementById("timerDisplay").classList.add("hidden")
      resetTimer();
    });

    currentPurchase = document.getElementById("viewPurchase")
    loader = document.getElementById("loader")
    currentPurchase.addEventListener("click", function () {
      currentPurchase.classList.add("hidden")
      loader.classList.add("hidden")
    });




    {% comment %} FILE HISTORY {% endcomment %}

    document.getElementById("viewHistoryBtn").addEventListener("click", async () => {
      const filesHolder = document.getElementById("filesholder");
      filesHolder.innerHTML = "<p class='text-gray-400'>Loading...</p>";
      console.log("Fetching files for user:", selecteduserEmail);
      try {
        // 🔹 Call backend API (replace with your actual endpoint)
        const response = await fetch("/get-user-files/", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email: selecteduserEmail })
        });
        const data = await response.json();

        filesHolder.innerHTML = ""; // clear loader

        if (data.files && data.files.length > 0) {
          data.files.forEach(file => {
            const fileDiv = document.createElement("div");
            fileDiv.className = "p-3 bg-gray-100 rounded-lg flex justify-between items-center shadow";

            fileDiv.innerHTML = `
              <p class="font-medium">${file.uploaded_at}</p>
              {% comment %} <p class="font-medium">${file.file_name}</p> {% endcomment %}
              <div class="space-x-2">
                <a href="${file.download_url}" target="_blank" class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">View</a>
                <a href="${file.download_url}" download class="px-3 py-1 bg-green-500 text-white rounded hover:bg-green-600">Download</a>
              </div>
            `;

            filesHolder.appendChild(fileDiv);
          });
        } else {
          filesHolder.innerHTML = "<p class='text-red-500'>No files found.</p>";
        }
      } catch (err) {
        console.error(err);
        filesHolder.innerHTML = "<p class='text-red-500'>Error fetching files.</p>";
      }
    });


    {% comment %} ==========Timer ========== {% endcomment %}
    let timerInterval;
    let seconds = 0;

    function startTimer() {
      seconds = 0;
      timerInterval = setInterval(() => {
        seconds++;
        const mins = String(Math.floor(seconds / 60)).padStart(2, '0');
        const secs = String(seconds % 60).padStart(2, '0');
        document.getElementById("timerDisplay").textContent = `${mins}:${secs}`;
      }, 1000);
    }

    function stopTimer() {
      clearInterval(timerInterval);
    }

    function resetTimer() {
      stopTimer(); // Stop if running
      seconds = 0;
      document.getElementById("timerDisplay").textContent = "00:00";
    }
  </script>

  <script>
    // Read csrftoken from cookie
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let cookie of cookies) {
          cookie = cookie.trim();
          if (cookie.startsWith(name + "=")) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie("csrftoken");
  </script>
</body>

</html>