<!DOCTYPE html>
<html>

<head>
  <title>Razer Bot</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<style>
 
  
  span{
    height: 20px;
    width: 20px;
    background: #44D62C;
    margin-left: 20px;
    float: left;
    animation: fade 2s linear infinite;
    border: 2px solid white;
  }
  
  span:nth-child(2){
    animation-delay: 0.2s;
  }
  
  span:nth-child(3){
    animation-delay: 0.4s;
  }
  
  span:nth-child(4){
    animation-delay: 0.6s;
  }
  
  span:nth-child(5){
    animation-delay: 0.8s;
  }
  
  span:nth-child(6){
    animation-delay: 1s;
  }
  
  span:nth-child(7){
    animation-delay: 1.2s;
  }
  
  span:nth-child(8){
    animation-delay: 1.4s;
  }
  
  span:nth-child(9){
    animation-delay: 1.6s;
  }
  
  span:nth-child(10){
    animation-delay: 1.8s;
  }
  
  
  @keyframes fade{
    95%{
      opacity: 0;
      transform: scale(0) rotate(120deg);
    }
    97%{
      transform: rotate(0deg);
    }
  }
</style>
<body class="bg-gray-900 flex items-center justify-center min-h-screen">
  <div class="bg-gray-800 p-10 rounded-2xl shadow-lg w-full max-w-lg relative">
    <h2 class="text-3xl font-bold text-green-400 text-center mb-6">Razer Gold Automation</h2>
    <div id="Backbtn" class="p-3 rounded-md bg-red-500 absolute font-bold absolute top-1 left-1 hidden text-white text-base"><p>Back</p></div>
    <form id="userForm" class="">
      {% csrf_token %}
      <h1 class="text-2xl font-bold text-white text-left mb-6">Store Razer User</h1>
      <label class="block text-white text-xl mt-4 mb-2" for="store_email">Enter user email</label>
      <input type="text" name="store_email"
        class="w-full p-4 text-white bg-transparent border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">

      <label class="block text-white text-xl mt-4 mb-2" for="store_password">Enter user password</label>
      <input type="text" name="store_password"
        class="w-full p-4 text-white bg-transparent border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
      <button type="submit"
        class="w-full py-3 bg-green-500 hover:bg-green-600 text-white my-8 font-bold rounded-lg shadow-lg transition">
        Store
      </button>
    </form>
    <div id="userSelectionSection" class="">
      <h1 class="text-2xl font-bold text-white text-left mb-6">Select Razer User</h1>

      <select id="userSelect"
        class="w-full p-4 text-white bg-transparent border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400 ">
        <option value="">Select stored user</option>
      </select>
  
      <button id="loginbtn"
        class="w-full py-3 bg-green-500 hover:bg-green-600 text-white mt-4 mb-2 font-bold rounded-lg shadow-lg transition">
        Login User
      </button>
      <div id="loginStatus" class="text-green-400 text-sm mt-4"></div>
     </div>
    
    <h1 id="prodlinkheading" class="text-2xl hidden font-bold text-white text-left mb-6 mt-4">Enter product link</h1>


    <input type="text" name="productLink" id="ProductLink"
      class="w-full p-4 hidden text-white bg-transparent border-2 border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400 mb-4"
      placeholder="Enter product link here">
    <button id="productFetchbtn"
      class="w-full py-3 bg-green-500 hidden hover:bg-green-600 text-white mt-4 mb-2 font-bold rounded-lg shadow-lg transition">
      Fetch Product Info
    </button>




    

    <form id="productForm" class="space-y-5 mt-6">
      {% csrf_token %}
     
    </form>
    <div id="productDetails"> </div>
    <div id="productInfo" class="mt-4"></div>
    <a id="viewPurchase" class="block w-full py-3 bg-white hidden  hover:bg-green-800 text-green-400 text-center  mt-4 mb-2 font-bold rounded-lg shadow-lg transition"
      href=""  download="purchase.txt">View Purchasing</a>
     <div id="loader" class=" hidden mt-4">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
    <!-- Button -->
    <button id="viewHistoryBtn"
    class="w-full py-3 hidden bg-green-500 hover:bg-green-600 text-white mt-4 mb-2 font-bold rounded-lg shadow-lg transition">
    View History
    </button>
    
    <!-- Holder for files -->
    <div id="filesholder" class="mt-4 space-y-3"></div>
  </div>

  <script>
    let selecteduserEmail;
    document.querySelector("form").addEventListener("submit", async function (e) {
      e.preventDefault();
    
      let emailInput = document.querySelector("[name='store_email']");
      let passwordInput = document.querySelector("[name='store_password']");
    
      let email = emailInput.value;
      let password = passwordInput.value;
    
      let response = await fetch("{% url 'razerusers' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({ store_email: email, store_password: password })
      });
    
      let data = await response.json();
    
      if (response.status === 201) {
        alert("Razer user stored successfully!");
        emailInput.value = "";
        passwordInput.value = "";
      } else {
        alert("User already exists");
        emailInput.value = "";
        passwordInput.value = "";
      }
    
      console.log(data);
      fetchStoredUsers();
    });


    let selectedUser;
    async function fetchStoredUsers() {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      const response = await fetch("/razerusers/", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken
        }
      });

      const users = await response.json();

      // 🔥 Clear existing options except the first one
      const select = document.getElementById("userSelect");
      select.innerHTML = '<option value="">Select stored user</option>';


      users.forEach(user => {
        const option = document.createElement("option");
        option.className = "bg-gray-800 text-white";
        option.value = `${user.store_email} ${user.store_password}`;
        option.textContent = `${user.store_email} ${user.store_password}`;
        select.appendChild(option);
      });

      select.addEventListener("change", function () {
        if (this.value) {
          selectedUser = this.value.split(" ");
          selecteduserEmail=selectedUser[0];
          console.log(`Selected: ${this.value}`);
        }
      });
    }


    // Call the function on page load
    window.addEventListener("DOMContentLoaded", fetchStoredUsers);

    document.getElementById("loginbtn").addEventListener("click", async function () {
      const selectedValue = document.getElementById("userSelect").value;

      if (!selectedValue) {
        alert("Please select a user.");
        return;
      }
      console.log("Selected user:", selectedUser);
      email = selectedUser[0];
      selecteduserEmail = email;
      password = selectedUser[1];
      {% comment %} const [email, password] = selectedValue.split(" ");
      console.log("selected email:", email, "selected password:", password); {% endcomment %}
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      const response = await fetch("/run", {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
          "X-CSRFToken": csrftoken
        },
        body: new URLSearchParams({
          email: email,
          password: password
        })
      });

      const text = await response.text();
      const statusDiv = document.getElementById("loginStatus");
      if (text.includes("successful")) {
        document.getElementById("prodlinkheading").classList.remove("hidden");
        document.getElementById("ProductLink").classList.remove("hidden");
        document.getElementById("productFetchbtn").classList.remove("hidden");
        {% comment %} document.getElementById("productQuantity").classList.remove("hidden"); {% endcomment %}
        {% comment %} document.getElementById("buybtn").classList.remove("hidden"); {% endcomment %}
        document.getElementById("userSelectionSection").classList.add("hidden");
        document.getElementById("userForm").classList.add("hidden");
        document.getElementById("Backbtn").classList.remove("hidden");
       
        statusDiv.innerHTML = `<span style="color:green">${text}</span>`;
      } else {
        statusDiv.innerHTML = `<span style="color:red">${text}</span>`;
      }
    });



    let ProductName;
    document.getElementById("productFetchbtn").addEventListener("click", async function () {
      const productLink = document.getElementById("ProductLink").value;
      const value = productLink.split("/catalog/")[1];
      productName = value;
      const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute("content");

      const res = await fetch("/get-product-info", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({ product: value })
      });

      const data = await res.json();
      const infoDiv = document.getElementById("productDetails");

      if (data.error) {
        infoDiv.innerHTML = `<p class="text-red-400">⚠️ ${data.error}</p>`;
        return;
      }

      const productCheckboxes = data.products.map(p => `
        <div class="flex items-center gap-4 mb-4">
          <input type="checkbox" class="product-check" data-id="${p.productId}" data-vanity="${p.vanityName}">
          <label class="text-white text-lg font-semibold">${p.vanityName}</label>
          <input type="number" min="1" value="1"
            class="product-qty w-20 p-2 text-white bg-gray-800 border border-green-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
        </div>
      `).join("");

      infoDiv.innerHTML = `
        <p class="text-white text-xl font-bold mb-2">Available Products:</p>
        ${productCheckboxes}
        <button id="buybtn" type="button"
          class="w-full py-3 bg-green-500 hover:bg-green-600 text-white font-bold rounded-lg shadow-lg transition mt-4">
          Buy Selected
        </button>
      `;
      document.getElementById("viewHistoryBtn").classList.remove("hidden");
    });

    document.addEventListener("click", async function (e) {
     
      document.getElementById("")
      if (e.target && e.target.id === "buybtn") {
        const selectedProducts = [];
        document.getElementById("loader").classList.remove("hidden")
        document.querySelectorAll(".product-check:checked").forEach(checkbox => {
          const productId = checkbox.dataset.id;
          const vanityName = checkbox.dataset.vanity;
          const quantityInput = checkbox.parentElement.querySelector(".product-qty");
          const quantity = quantityInput.value;

          selectedProducts.push({ productId, vanityName, quantity });
        });

        if (selectedProducts.length === 0) {
          alert("Please select at least one product.");
          return;
        }
        console.log("Selected products:", selectedProducts);
        const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute("content");


        const res = await fetch("/form-operation", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
          },
          body: JSON.stringify({ products: selectedProducts, productName: productName, userEmail: selecteduserEmail })
        });

        const result = await res.json();
        console.log("Result from /form-operation:", result);
        if (result.error) {
          if(result.error.includes("70600")){
           
            document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Not Enough Coins</p>`;
          }
          else if(result.error.includes("70607")){
            document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Region Id mismatched</p>`;
          }
          else if(result.error.includes("70628")){
            document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Product out of stock</p>`;
          }
          else if(result.error.includes("70613")){
            document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Transaction amount has exceeded the maximum amount allowed</p>`;
          }
          document.getElementById("loader").classList.add("hidden")
          {% comment %} document.getElementById("productInfo").innerHTML = `<p class="text-red-400"> ${result.error}</p>`; {% endcomment %}
          const  currentPurchase=document.getElementById("viewPurchase")
          currentPurchase.classList.remove("hidden")
          currentPurchase.href=`http://127.0.0.1:8000${result.download_url}`
          currentPurchase.setAttribute("download", `purchase${result.download_url.split("/")[2]}.txt`);
          console.log("Error in result:",result.error)
          return;
        }
        document.getElementById("loader").classList.add("hidden")
        const currentPurchase=document.getElementById("viewPurchase")
        currentPurchase.classList.remove("hidden")
        currentPurchase.href=`http://127.0.0.1:8000${result.download_url}`
        currentPurchase.setAttribute("download", `purchase${result.download_url.split("/")[2]}.txt`);
        document.getElementById("productInfo").innerHTML = `<p class="text-red-400">Purchase Successful</p>`;
        
      }
    });


    document.getElementById("Backbtn").addEventListener("click", function () {
      document.getElementById("userSelectionSection").classList.remove("hidden");
      document.getElementById("userForm").classList.remove("hidden");
      document.getElementById("Backbtn").classList.add("hidden");
      document.getElementById("prodlinkheading").classList.add("hidden");
      document.getElementById("ProductLink").classList.add("hidden");
      document.getElementById("productFetchbtn").classList.add("hidden");
      document.getElementById("productInfo").innerHTML = "";
      document.getElementById("productDetails").innerHTML = "";
      document.getElementById("loginStatus").innerHTML = "";
      document.getElementById("viewPurchase").classList.add("hidden")
      document.getElementById("ProductLink").value = "";
    });

    currentPurchase=document.getElementById("viewPurchase")
    loader=document.getElementById("loader")
    currentPurchase.addEventListener("click", function () {
     currentPurchase.classList.add("hidden")
     loader.classList.add("hidden")
    });




    {% comment %} FILE HISTORY {% endcomment %}

    document.getElementById("viewHistoryBtn").addEventListener("click", async () => {
      const filesHolder = document.getElementById("filesholder");
      filesHolder.innerHTML = "<p class='text-gray-400'>Loading...</p>";
      console.log("Fetching files for user:", selecteduserEmail);
      try {
        // 🔹 Call backend API (replace with your actual endpoint)
        const response = await fetch("/get-user-files/", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email: selecteduserEmail })
        });
        const data = await response.json();
  
        filesHolder.innerHTML = ""; // clear loader
  
        if (data.files && data.files.length > 0) {
          data.files.forEach(file => {
            const fileDiv = document.createElement("div");
            fileDiv.className = "p-3 bg-gray-100 rounded-lg flex justify-between items-center shadow";
  
            fileDiv.innerHTML = `
            <p class="font-medium">${file.uploaded_at}</p>
            {% comment %} <p class="font-medium">${file.file_name}</p> {% endcomment %}
            <div class="space-x-2">
              <a href="${file.download_url}" target="_blank" class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">View</a>
              <a href="${file.download_url}" download class="px-3 py-1 bg-green-500 text-white rounded hover:bg-green-600">Download</a>
            </div>
          `;
  
            filesHolder.appendChild(fileDiv);
          });
        } else {
          filesHolder.innerHTML = "<p class='text-red-500'>No files found.</p>";
        }
      } catch (err) {
        console.error(err);
        filesHolder.innerHTML = "<p class='text-red-500'>Error fetching files.</p>";
      }
    });
  </script>










</body>

</html>